footer{
    display: flex;
    gap: 20px;
    background-color: var(--azul-oscuro);
    border-radius: 10px;
    padding: var(--size20);
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size40);
    .logo{
        display: flex;
        flex-direction: column;
        gap: 20px;
        img{
            width: 30%;
            max-width: 150px;
        }
        p{
            color: var(--shade-05);
            font-size: var(--size16);
        }
    }
    .nav-footer{
        a{
            color: white;
        text-decoration: none;
        transition: .3s ease all;
        &:hover{
            color: aqua;
            text-decoration: underline;
        }
    }

    }
    @media screen and (max-width:650px) {
        &{
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 0;
            margin-bottom: 0;
            .logo{
                order: 2;
                align-items: center;
            }
            .nav-footer{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                font-size: var(--size16);
            }
        }
        
    }
}