:root{
	--azul-primario:rgb(13, 49, 232);
	--azul-secundario:#1833bf;
	--azul-oscuro:hsl(230, 60%, 15%);

	--shade-09: #1a1a1a;
	--shade-07: #484848;
	--shade-05: #767676;
	--shade-03: #bababa;
	--shade-01: #e8e8e8;

	/* Tamanos Estandar */

	--size40: clamp(30px, 5vw, 40px);
	--size10: clamp(6px, 3vw, 110px);

	--size16: clamp(14px, 3vw, 16px);

	--size20: clamp(16px, 3vw, 20px);

	--size32: clamp(24px, 3vw, 32px);

}