*,*::after,*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Jost, sans-serif;
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

.grid{
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(100px, auto) 2fr auto auto;
	grid-template-areas: 
						"header header header"
						"main main aside"
						"widget widget widget"
						"footer footer footer";
	gap: 20px;
	padding: 20px;
	@media screen and (max-width: 700px){
		grid-template-areas: 
						"header header header"
						"main main main"
						"aside aside aside"
						"widget widget widget"
						"footer footer footer";
		grid-template-rows: minmax(100px, auto) 2fr repeat(3,auto);
		
	}
}

.header{
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f8f7f4 ;
	border-radius: 10px;

	.logo{
		aspect-ratio: 20/9;
		object-fit: cover;
	}
	.menu{
		display: flex;
		justify-content: space-around;
		gap: clamp(10px, 3vw, 20px);

		.enlace{
			text-decoration: none;
			font-weight: 600;
			color: hsl(253, 63%, 43%);
			font-size: clamp(12px, 3vw, 16px);
			margin-right: clamp(10px, 3vw, 20px);
		}
	}
	@media screen and (max-width: 550px) {
		&{
			flex-direction: column ;
			flex-wrap: wrap;
		}
		
	}
}

.main{
	grid-area: main;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	gap: clamp(20px, 3vw, 30px);
	background: #f8f7f4;
	padding: 20px;
	h2{
		font-size: clamp(20px, 3vw,30px);
		margin-bottom: 0;
		line-height: 30px;
	}
	.texto{
		color: hsl(46, 7%, 45%);
		font-size: clamp(13px, 3vw, 16px);
	}
	.btn-mas{
		color: hsl(254, 63%, 48%);;
		padding: clamp(5px, 1vw, 10px) clamp(10px, 1vw, 15px) ;
		align-self: self-start;
		border-radius: 5px;
		border: 3px solid hsl(254, 63%, 48%);
		font-weight: 600;
	}

}

.widgets-container{
	grid-area: widget;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: self-start;
	flex-basis: 100%;
	flex-direction: row;
	
	.widget {
		background-color: black;
		padding: 20px;
		color:#f8f7f4;
		width: 100%;
		text-align: center;

	}
	@media screen and (max-width: 550px)
	{
		&{
			flex-direction: column;
			justify-content: center;		
		}
		.widget{
			min-height: clamp(110px, 5vw , 200px);
			align-content: center;
		}
	}
}
aside{
	padding-top: 20px;
	grid-area: aside;
	display: flex;
	flex-flow: column nowrap;
	gap: clamp(10px, 3vw, 20px);
	h2{
		width: 100%;
	}
	.articulo{
		border-bottom: 3px solid  rgb(80, 45, 200);
		border-bottom-left-radius: 5px ;
		border-bottom-right-radius: 5px ;
		position: relative;
		overflow: hidden;
		background-color:hsla(231, 100%, 50%, 0.32);
		width: clamp(250px, 5vw , 100%);
		&::after{
			content: "";
			background-color: hsl(254, 63%, 48%);
			width: 30px;
			height: 30px;
			bottom: 0;
			right: 0;
			position: absolute;
			transform: translate(16px, 17px) rotate(45deg) ;


		}
		.articulo-tumb{
			width: 100%;
			aspect-ratio: 16/9;
			object-fit: cover;
			border-radius: 3px;
		}
		.articulo-titulo{
			font-size: 16px;
			margin-bottom: 10px;
			text-align: center;
			display: block;
	
		}
		a{
			text-decoration: none;
			display: block;
			padding: 5px 20px;
			background-color: rgb(80, 45, 200);
			color: #f2f2f2;
			border-radius: 3px 3px 0 3px;
			font-size: 14px;

		}
	}
	@media screen and (max-width: 700px) {
		&{


			flex-flow: row wrap;
			a{
				width: 100%;
				text-align: center;
			}

		}
				
				
	}
	@media screen and (max-width: 550px) {
		&{
			.articulo{
				width: 100%;
			}
				
				
	}}

}
.footer{
	grid-area: footer;
	text-align: center;
}